*.env
venv/
.venv/
.env/
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
*.log
*.sqlite3
*.bak
*.swp
*.tmp
*.zip
*.tar.gz
*.egg-info/
dist/
build/
*.egg
*.egg-info/
*.pyo
*.pyd
*.cover
.ipynb_checkpoints/
implement_gradi/